{% extends "base.html" %}

{% block title %}Application: {{appdata}}{% endblock %}

{% block content %}
The findings collected from the phone
<table border="1" >
<tr bgcolor="#007e0f" >
<td>
Name
</td>
<td>
identifier
</td>
<td>
Description
</td>
<td>
Age
</td>
<td>
Sex
</td>
<td>
Tagged
</td>
<td>
Latitude
</td>
<td>
Longitude
</td>
<td>
Time
</td>
{% for find in finds %}
<tr>
<td>
{{find.name}}
</td>
<td>
{{find.identifier}}
</td>
<td>
{{find.description}}
</td>
<td>
{{find.age}}
</td>
<td>
{% ifequal find.sex 1 %}
Female
{% else %}
Male
{% endifequal %}
</td>
<td>
{% if find.tagged %}
Yes
{% else %}
No
{% endif %}
</td>
<td>
{{find.latitude}}
</td>
<td>
{{find.longitude}}
</td>
<td>
{{find.time}}
</td>
</tr>
{%endfor%}
</table>
{%endblock%}
